<style type="text/css">
  body {
    background-color: #C2FFE6;
  }
</style>

<div class="row">
	<div class="col-md-9 col-md-offset-1">
		<h1 class="stamp">Now, everybody...</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-9 col-md-offset-1">
		<table class="table table-striped">
			<thead class="stamp">
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>Best Score</th>
				</tr>
			</thead>
			<tbody>
				<% @users.each do |user| %>
					<tr>
						<td><%= user.id %></td>
						<td><%= link_to user.name, user%></td>
						<td><%= user.highscores.order(score: :desc).first.score %> WPM ~ <%= link_to user.highscores.order(score: :desc).first.quote_attr, quote_path(user.highscores.order(score: :desc).first.quote_id) %> </td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
<br>
<div class="row">
  <div class="col-md-11 col-md-offset-1">
    <%= link_to 'Back', root_path %>
  </div>
</div>