<%= form_for(@highscore) do |f| %>
  <% if @highscore.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@highscore.errors.count, "error") %> prohibited this highscore from being saved:</h2>

      <ul>
      <% @highscore.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field hidden">
    <%= f.label :score %><br>
    <%= f.text_field :score %>
  </div>
  <div class="field showable" id="name">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions showable" id="submit">
    <%= f.submit "Submit score"  %>
  </div>
<% end %>
