<style type="text/css">
  body {
    background-color: #FFC2DB;
  }
</style>


<div class="row">
  <div class="col-md-11 col-md-offset-1">
    <h1 class="stamp"><%= link_to "Very Best Typers", root_path %></h1>
  </div>
</div>
<div class="row">
  <div class="col-md-9 col-md-offset-1">
    <table class="table table-striped">
      <thead class="stamp">
        <tr>
          <th>Rank</th>
          <th>Name</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        <% score_count = 0 %>
        <% @highscores.each do |highscore| %>
          <tr>
            <td class="stamp"><%= score_count + 1 %></td>
            <td class="stamp"><%= highscore.name %></td>
            <td class="stamp"><%= highscore.score %> WPM</td>
          </tr>
          <% score_count += 1 %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-11 col-md-offset-1">
    <%= link_to 'Back', root_path %>
  </div>
</div>