<style type="text/css">
  body {
    background-color: #FFC2DB;
  }
</style>


<div class="row">
  <div class="col-md-11 col-md-offset-1">
    <h1 class="stamp"><%= link_to "Very Best Typers", root_path %></h1>
  </div>
</div>
<div class="row">
  <div class="col-md-9 col-md-offset-1">
    <table class="table table-striped">
      <thead class="stamp">
        <tr>
          <th>Rank</th>
          <th>Name</th>
          <th>Score</th>
          <th>Quote</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <% score_count = 0 %>
        <% @highscores.each do |highscore| %>
          <% unless highscore.user_id == 0 %>
            <% user = @users[highscore.user_id - 1] %>
          <% end %>
          <tr>
            <td class="stamp"><%= score_count + 1 %></td>
            <% if user %>
              <td class="stamp"><%= link_to user.name, user %></td>
            <% else %>
              <td class="stamp"><%= highscore.name %></td>
            <% end %>
            <td class="stamp"><%= highscore.score %> WPM</td>
            <td class="stamp"><%= link_to highscore.quote_attr, quote_path(highscore.quote_id) %></td>
            <td class="stamp"><%= (highscore.created_at - 5.hours).to_time.strftime('%A, %B %e, %l:%M %p')  %></td>
          </tr>
          <% score_count += 1 %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-11 col-md-offset-1">
    <%= link_to 'Back', root_path %>
  </div>
</div>