<h1>Shimmer & Click</h1>

<div id="quote-display"></div>
<br>
<input type="text" id="typing-box">



<div class="hidden">
<div id="wpm"></div>
<% quote_count = 0 %>
<% @quote.each do |quote| %>
  <p id="<%= "quote#{quote_count}" %>"><%= quote.content %></p>
  <p id="<%= "attr#{quote_count}" %>"><%= quote.attribution %></p>
  <% quote_count += 1 %>
<% end %>
  <div id="numquotes"><%= quote_count %></div>
  <div id="timer"></div>
  <div id="complete"></div>
</div>
  <%= render 'form' %>


<%= link_to 'Back', highscores_path %>
