<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @highscore.name %>
</p>

<p>
  <strong>Score:</strong>
  <%= "#{@highscore.score} WPM" %>
</p>

<%= link_to 'Home', root_path %> |
<%= link_to 'New game', game_path %>
