<style type="text/css">
  body {
    background-color: #FFC2DB;
  }
</style>

<% if notice %>
		<div class="row">
			<div class="col-md-12">
			</div>
		</div>
<% end %>
<div class="row">
	<div class="col-md-9 col-md-offset-1">
    	<table class="table table-striped">
      		<thead class="stamp">
        		<tr>
          			<th>Name</th>
          			<th>Score</th>
                <th>Opponent (result)</th>
                <th>Quote</th>
                <th>Date</th>
        		</tr>
      		</thead>
      		<tbody>
	          	<tr>
            		<td class="stamp"><%= @highscore.name %></td>
            		<td class="stamp"><%= @highscore.score %></td>
                <% if @highscore.victory && @highscore.victory != 0 %>
                  <% victory_result = @highscore.victory == 1 ? "(won)" : "(lost)" %>
                <% end %>
                <% if @highscore.opponent_name %>
                  <td class="stamp"><%= @highscore.opponent_name %> <%= victory_result %></td>
                <% else %>
                  <td class="stamp">Solo game</td>
                <% end %>
                <td class="stamp"><%= link_to @highscore.quote_attr, quote_path(@highscore.quote_id) %></td>
                <% Time.zone = 'EST' %>
                <td class="stamp"><%= (@highscore.created_at - 5.hours).in_time_zone.to_time.strftime('%A, %B %e, %l:%M %p') %></td>
          		</tr>
    	    </tbody>
    	</table>		
	</div>
</div>
<div class="row">
	<div class="col-md-11 col-md-offset-1">
		<%= link_to 'Home', root_path %> |
		<%= link_to 'High Scores', scores_path %> |
		<%= link_to 'New game', game_path %>
	</div>
</div>