
	<div class="row">
		<div class="col-md-4">
			<h1>
				<%= link_to root_path do%>
					<%= render 'layouts/logo' %>
				<% end %>
			</h1>			
		</div>
		<div class="col-md-4 col-md-offset-4 text-center">
			<h1><small>
				<%= link_to "Very Best Typers", scores_path, { :class => "stamp" } %>
			</small></h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8" id="quote-snippets"></div>
		<div class="col-md-4" id="scores-list">
			<table class="table stamp">
				<th>Rank</th>
				<th>Name</th>
				<th>Score</th>
				<% score_count = 0 %>
				<% @highscores.each do |highscore| %>
		        	<% unless highscore.user_id == 0 %>
            			<% user = @users[highscore.user_id - 1] %>
          			<% end %>
					<tr>
						<td class="stamp"><%= score_count + 1 %></td>
			            <% if user %>
              				<td class="stamp"><%= link_to user.name, user %></td>
            			<% else %>
              				<td class="stamp"><%= highscore.name %></td>
            			<% end %>
						<td class="stamp"><%= highscore.score %> WPM</td>
					</tr>
					<% score_count += 1 %>
					<% break if score_count > 4 %>
				<% end %>
			</table>
			<div class="text-center">
				<%= link_to "see all scores", scores_path, { :class => "stamp" } %>
			</div>
		</div>
	</div>
	<div class="hidden">
		<div id="page_name">Home</div>
		<div id="running"></div>
		<div id="timer"></div>
		<%= render 'highscores/quotelist' %>
	</div>


<%= render 'layouts/play' %>
