<!DOCTYPE html>
<html>
<head>
  <title>Shimmer & Click</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrap">
  <%= render 'layouts/header' %>
  <div id="container">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <%= yield %>
  </div>
</div>
<br>
<div id="footer">
  <div class="container">
    <p><a href="http://williamtimothysmith.com">shimmer & click by william t. smith</a></p>
  </div>
  <%= debug(params) if Rails.env.development? %>
</div>

<% if signed_in? %>
  <div id="users-online">
    <div id="users-header">
      <h4>USERS ONLINE</h4>
    </div>
    <div id="user-list">
    </div>
    <div id="users-hidden" class="text-center">
      <p>...</p>
    </div>
  </div>
  <div class="challenge" id="challenge-0"></div>
  <div class="challenge" id="challenge-1"></div>
  <div class="challenge" id="challenge-2"></div>
<% end %>

</body>

<% if signed_in? %>
  <%= javascript_tag do %>
    user_name = '<%= current_user.name %>';
  <% end %>
<% end %>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

</html>
